body {
  font-family: "Arial", "Meiryo", sans-serif;
}

html {
  font-size: 20px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115,115,114);
  text-shadow: 2px 2px 4px gray;
}

.tex-skyblue {
  color: skyblue;
}

.tex-pink {
  color: rgb(255, 192, 203);
}

#parent p {
  font-weight: bold;
  text-align: center;
}

.tex-pink, .tex-skyblue, p {
  text-align: center;
}